<%- include("partials/header"); -%>
    <h3 class="fade-in">City - <%= city %>
    </h3>
    <h3 class="fade-in">Temperature - <%= temp %>°C
    </h3>
    <h3 class="fade-in">Feels Like - <%= feel %>°C
    </h3>
    <h3 class="fade-in">Description - <%= desc %>
    </h3>
    <img class="fade-in" src=<%=imgsrc %> >
    <%- include("partials/footer"); -%>